<div class="container">
	<div class="row">
		<div class="col-9">
			<div class="twitch-player-div">
				
			</div>
			<div class="twitch-userinfo-div">
			</div>
		</div>
		<div class="col-3">
			<div class="twitch-chat-div">
			</div>
			<div class="faq-div">
			</div>
		</div>
	</div>
</div>