<div class="row">
	<div class="col-lg-9 text-center">


					<!-- Twitch TV Live Embedded Player -->

					<iframe src="https://player.twitch.tv/?channel=trollpatrul" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>

		<!-- 			<iframe width="600" height="340" src="https://www.youtube.com/embed/+lastest?list=PLdr33AkGFbb7fqitleH-UkQK-rw8Shmtc" frameborder="0" allowfullscreen></iframe> -->


	</div>
	<div class="col-lg-3 text-center">

						<!-- Twitch TV Live Chat -->
					<iframe frameborder="0" 
						        scrolling="no" 
						        id="chat_embed" 
						        src="http://www.twitch.tv/trollpatrul/chat" 
						        height="378" 
						        width="260">
					</iframe>

	</div>
</div>

<div class="row">
	<div class="col-lg-9 text-center">

			<h3>Streamer Name</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </p>

	</div>
	<div class="col-lg-3 text-center">


			<h3>Troll Patrol Mission</h3>

			<p>To be engaged in a supportive community of streamers who help each other become the best streamers we can be!</p>

			<h3>How can I join?</h3>

			<p>Anyone can join, All you need to do is get involved! 
				<ul>
					<li>Hang out with us chat or discourd</li>
					<li>Create an account on trollpatrol.com</li>
					<li>Have fun!</li>
				/ul>
			</p>

	</div>
</div>
