<div class="row">
	<div class="col-md-2">
			<div class="panel panel-default social-media-container-1">
				  <div class="panel-heading text-center">Join us</div>
				  <div class="panel-body text-center logo-container">
				  	<div class="discord-social-written-div">
				  		<img class="discord-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500250883/discordwritten_jqya6u.png"/>
				  	</div>
				  	<div class="youtube-social-written-div">
				  		<img class="youtube-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500251693/youtube-high-resolution-logo_qc0vzp.png"/>
				  	</div>
				  	<div class="facebook-social-written-div">
				  		<img class="facebook-logo-small" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500253935/logo-facebook-small-edited_tfirzc.png"/>
				  		<img class="facebook-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500254185/facebook-text-transparent-logo-edited_obxti1.png"/>
				  	</div>
				  	<div class="twitter-social-written-div">
				  		<img class="twitter-logo-small" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500252393/Twitter-Logo-small_andetn.png"/>
				  		<img class="twitter-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500252392/Twitter_logo_rdimoa.png"/>
				  	</div>	  	
				  </div>
			</div>
	</div>
	<div class="col-md-7 text-center">

						<div class="twitch-live-player-container">
						<!-- Twitch TV Live Embedded Player -->
						<iframe class="live-iframe-player" src="https://player.twitch.tv/?channel=trollpatrul" frameborder="0" allowfullscreen="true" scrolling="no" height="453" width="744"></iframe>
						</div>

			<!-- 			<iframe width="600" height="340" src="https://www.youtube.com/embed/+lastest?list=PLdr33AkGFbb7fqitleH-UkQK-rw8Shmtc" frameborder="0" allowfullscreen></iframe> -->


	</div>
	<div class="col-md-3 text-center">
						<!-- Twitch TV Live Chat -->
				<div class="twitch-live-chat-container">
						<!-- Twitch TV Live Chat -->
					<iframe		frameborder="0" 
						        scrolling="no" 
						        id="chat_embed" 
						        src="http://www.twitch.tv/trollpatrul/chat" 
						        height="453" 
								width="280">
					</iframe>
				</div>

	</div>
</div>

<div class="row">
	<div class="col-md-2">
			<div class="panel panel-default social-media-container-2">
				  <div class="panel-heading text-center">Game News</div>
				  <div class="panel-body text-center logo-container">
				  	<div class="fortnite-game-info-div">
				  		<img class="fortnite-game-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500258977/fortnite-logo_osbn6u.png"/>
				  		<img class="reddit-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500259770/reddit-logo-unedited_kms8py.png"/>
				  	</div>
				  	<div class="league-game-info-div">
				  		<img class="league-game-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500258976/league-of-legends-icon_bahaef.png"/>
				  		<img class="reddit-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500259770/reddit-logo-unedited_kms8py.png"/>
				  	</div>
				  	<div class="csgo-social-written-div">
				  		<img class="csgo-social-written-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500258976/csgo-logo_lcvfgn.png"/>
				  		<img class="reddit-info-logo bottom-reddit-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500259770/reddit-logo-unedited_kms8py.png"/>
				  	</div>	
				  </div>
			</div>
	</div>
	<div class="col-md-7">
		<div class="info-mission-container">
			<div class="twitch-live-player-info-container">
				<h3>Featured Streamer: </h3>
				<h3>Member Status: </h3>
				<h3>Favorite Games to Stream:</h3>
			</div>
			<div class="troll-patrol-mission-container">
				<h3>Troll Patrul Mission</h3>
				<p>To be engaged in a supportive community of streamers who help each other in games, share experiences and have a good time at troll patrol events!</p>
			</div>
		</div>

	</div>

		<div class="col-md-3 text-center">		

			<div class="dropdown">
			  <button class="dropbtn">Troll Patrul FAQ</button>
			  <div class="dropdown-content">
			    <h4 class="faq-title text-center">What is Troll Patrul</h4>
			    <p class="faq-font">Troll Patrul is a gaming community with a goal of bring gamers together and host online events.
				As a group we will decide which events are to be hosted and for which games. Details on Troll Patrul 
				events can be found on our events page of this website. We want to create an enviornment that adds
				value to your current favorite game by sharing your victories and defeats with our community.</p>
				<br />
			    <h4 class="faq-title text-center">What games do we play?</h4>
			    <p class="faq-font">Currently we have four groups running in Troll Patrul: Fortnite, League of Legends, Counter Strike: GO, 7 Days to Die. 
				We will be looking to you to help us identify the next game for the Troll Patrul to join.</p>
				<br />
			    <h4 class="faq-title text-center">What is Discord?</h4>
			    <p class="faq-font">Discord is a VOIP (Voice Over Internet Protocol) or simply, a voice chat program that allows anyone to freely join
				up with friends and chat in coice chatrooms with microphones and also use text chat rooms to have lengthier discussions
				on specific topics.</p>
				<br />
			    <h4 class="faq-title text-center">How to help?</h4>
			    <p class="faq-font">This community runs on two things, hard work and good people. Shoot any of the admnits a message in discord or email us at 
				trollpatrul@gmail.com and let us know that you are interested in helping our community grow.</p>			
			  </div>
			</div>		
		</div>

</div>
