<div class="row">
	<div class="col-md-2">
			<div class="panel panel-default social-media-container-1">
				  <div class="panel-heading text-center">Join us</div>
				  <div class="panel-body text-center logo-container">
				  	<div class="discord-social-written-div">
				  		<img class="discord-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500250883/discordwritten_jqya6u.png"/>
				  	</div>
				  	<div class="youtube-social-written-div">
				  		<img class="youtube-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500251693/youtube-high-resolution-logo_qc0vzp.png"/>
				  	</div>
				  	<div class="facebook-social-written-div">
				  		<img class="facebook-logo-small" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500253935/logo-facebook-small-edited_tfirzc.png"/>
				  		<img class="facebook-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500254185/facebook-text-transparent-logo-edited_obxti1.png"/>
				  	</div>
				  	<div class="twitter-social-written-div">
				  		<img class="twitter-logo-small" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500252393/Twitter-Logo-small_andetn.png"/>
				  		<img class="twitter-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500252392/Twitter_logo_rdimoa.png"/>
				  	</div>	  	
				  </div>
			</div>
	</div>
	<div class="col-md-7 text-center">

						<div class="twitch-live-player-container">
						<!-- Twitch TV Live Embedded Player -->
						<iframe class="live-iframe-player" src="https://player.twitch.tv/?channel=trollpatrul" frameborder="0" allowfullscreen="true" scrolling="no" height="453" width="744"></iframe>
						</div>

			<!-- 			<iframe width="600" height="340" src="https://www.youtube.com/embed/+lastest?list=PLdr33AkGFbb7fqitleH-UkQK-rw8Shmtc" frameborder="0" allowfullscreen></iframe> -->


	</div>
	<div class="col-md-3 text-center">
						<!-- Twitch TV Live Chat -->
				<div class="twitch-live-chat-container">
						<!-- Twitch TV Live Chat -->
					<iframe		frameborder="0" 
						        scrolling="no" 
						        id="chat_embed" 
						        src="http://www.twitch.tv/trollpatrul/chat" 
						        height="453" 
								width="280">
					</iframe>
				</div>

	</div>
</div>

<div class="row">
	<div class="col-md-2">
			<div class="panel panel-default social-media-container-2">
				  <div class="panel-heading text-center">Game News</div>
				  <div class="panel-body text-center logo-container">
				  	<div class="fortnite-game-info-div">
				  		<img class="fortnite-game-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500258977/fortnite-logo_osbn6u.png"/>
				  		<img class="reddit-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500259770/reddit-logo-unedited_kms8py.png"/>
				  	</div>
				  	<div class="league-game-info-div">
				  		<img class="league-game-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500258976/league-of-legends-icon_bahaef.png"/>
				  		<img class="reddit-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500259770/reddit-logo-unedited_kms8py.png"/>
				  	</div>
				  	<div class="csgo-social-written-div">
				  		<img class="csgo-social-written-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500258976/csgo-logo_lcvfgn.png"/>
				  		<img class="reddit-info-logo bottom-reddit-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500259770/reddit-logo-unedited_kms8py.png"/>
				  	</div>	
				  </div>
			</div>
	</div>
	<div class="col-md-7">

		<div class="twitch-live-player-info-container">
			<h3>Streamer Name</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
		</div>

	</div>
	<div class="col-md-3 text-center">
		

			<h3>Troll Patrol Mission</h3>

			<p>To be engaged in a supportive community of streamers who help each other become the best streamers we can be!</p>

			<h3>How can I join?</h3>

			<p>Anyone can join, All you need to do is get involved! 
				<ul>
					<li>Hang out with us chat or discourd</li>
					<li>Create an account on trollpatrol.com</li>
					<li>Have fun!</li>
				/ul>
			</p>

	</div>
</div>
