<div class="row">
	<div class="col-md-8 text-right">

					<div class="twitch-live-player-container">
					<!-- Twitch TV Live Embedded Player -->
					<iframe class="live-iframe-player" src="https://player.twitch.tv/?channel=trollpatrul" frameborder="0" allowfullscreen="true" scrolling="no" height="453" width="744"></iframe>
					</div>

		<!-- 			<iframe width="600" height="340" src="https://www.youtube.com/embed/+lastest?list=PLdr33AkGFbb7fqitleH-UkQK-rw8Shmtc" frameborder="0" allowfullscreen></iframe> -->


	</div>
	<div class="col-md-4 text-left ">
						<!-- Twitch TV Live Chat -->
				<div class="twitch-live-chat-container">
						<!-- Twitch TV Live Chat -->
					<iframe		frameborder="0" 
						        scrolling="no" 
						        id="chat_embed" 
						        src="http://www.twitch.tv/trollpatrul/chat" 
						        height="453" 
								width="280">
					</iframe>
				</div>

	</div>
</div>

<div class="row">
	<div class="col-md-8">

		<div class="twitch-live-player-container">
			<h3>Streamer Name</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
		</div>

	</div>
	<div class="col-md-4 text-center">


			<h3>Troll Patrol Mission</h3>

			<p>To be engaged in a supportive community of streamers who help each other become the best streamers we can be!</p>

			<h3>How can I join?</h3>

			<p>Anyone can join, All you need to do is get involved! 
				<ul>
					<li>Hang out with us chat or discourd</li>
					<li>Create an account on trollpatrol.com</li>
					<li>Have fun!</li>
				/ul>
			</p>

	</div>
</div>
