<div class="row">
	<div class="col-md-2">

			<div class="panel panel-default social-media-container-1 panel-outer">

			
				  <div class="panel-heading text-center headding"><span class="panel-headers header-over-image">Join us</span></div>
				  <div class="panel-body text-center logo-container">
				  	<div class="discord-social-written-div">
				  		<a href="https://discord.gg/2v2bPe" target="_blank"><img class="discord-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500250883/discordwritten_jqya6u.png"/></a>
				  	</div>
				  	<div class="youtube-social-written-div">
				  		<a href="https://www.youtube.com/channel/UCqxmF2W0N5-P5bE-kHHyPkw" target="_blank"><img class="youtube-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500251693/youtube-high-resolution-logo_qc0vzp.png"/></a>
				  	</div>
				  	<a href="#"><div class="facebook-social-written-div">
				  		<img class="facebook-logo-small" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500253935/logo-facebook-small-edited_tfirzc.png"/>
				  		<img class="facebook-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500254185/facebook-text-transparent-logo-edited_obxti1.png"/>
				  	</div></a>
				  	<a href="#"><div class="twitter-social-written-div">
				  		<img class="twitter-logo-small" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500252393/Twitter-Logo-small_andetn.png"/>
				  		<img class="twitter-social-written" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500252392/Twitter_logo_rdimoa.png"/>
				  	</div></a>	  	
				  </div>
			</div>
			<div class="panel panel-success panel-div">
				  <div class="panel-heading panel-top text-center"><p class="panel-header-text">Troll Patul Upgrade Goal</p></div>
				  <div class="panel-body panel-main upgrade-panel">
				  	<div class="updgrade-container hidden-md">
				  		<div class="updgrade-container-inner-left text-center">
				  			<p class="upgrade-disc-text">Better quality sounds is just around the riverbed.</p>
				  		</div>
				  		<div class="updgrade-container-inner-middle">
				  			<img class="upgrade-img" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500336320/Yeti-USB-Microphone_ydcgma.jpg" />
				  		</div>
				  		<div class="updgrade-container-inner-middle">
							<p>$12.00 of $129.99</p>
				  		</div>
				  	</div>
				  	<div class="updgrade-container visible-md">
				  		<div class="updgrade-container-small">
							<p>$12.00 of $129.99</p>
				  		</div>
				  	</div>
				  </div>
			</div>
	</div>
	<div class="col-md-7 text-center twitch-live-player-container-container">
		<div class="twitch-live-player-container">

			<!-- Twitch TV Live Embedded Player -->
			<iframe class="live-iframe-player" src="https://player.twitch.tv/?channel=trollpatrul" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
			<!-- iplayer height: 453 width:744 orig -->
			<!-- iplayer height: 543 width:892 orig -->

		</div>
	</div>
	<div class="col-md-3 text-center">
						<!-- Twitch TV Live Chat -->
				<div class="twitch-live-chat-container">
						<!-- Twitch TV Live Chat -->
					<iframe		frameborder="0" 
						        scrolling="no" 
						        id="chat_embed" 
						        src="https://www.twitch.tv/trollpatrul/chat" 
						        height="600" 
								width="280">
					</iframe>
					<!-- Iframe height 453px width 280 px -->
				</div>

	</div>
</div>

<div class="row">
	<div class="col-md-2">
			<div class="panel panel-default social-media-container-2 panel-headers panel-outer">
			
				  <div class="panel-heading text-center headding"><span class="panel-headers header-over-image-2">Game News</span></div>
				  <div class="panel-body text-center logo-container">
				  	<div class="fortnite-game-info-div">
				  		<a href = "https://www.epicgames.com/fortnite/en-US/news" target="_blank"><img class="fortnite-game-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500258977/fortnite-logo_osbn6u.png"/></a>
				  		<a href = "https://www.reddit.com/r/FORTnITE/" target="_blank"><img class="reddit-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500259770/reddit-logo-unedited_kms8py.png"/></a>
				  	</div>
				  	<div class="league-game-info-div">
				  		<a href = "http://na.leagueoflegends.com/en/news/" target="_blank"><img class="league-game-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500258976/league-of-legends-icon_bahaef.png"/></a>
				  		<a href = "https://www.reddit.com/r/leagueoflegends/" target="_blank"><img class="reddit-info-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500259770/reddit-logo-unedited_kms8py.png"/></a>
				  	</div>
				  	<div class="csgo-social-written-div">
				  		<a href = "http://blog.counter-strike.net/index.php/category/updates/" target="_blank"><img class="csgo-social-written-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500258976/csgo-logo_lcvfgn.png"/></a>
				  		<a href = "https://www.reddit.com/r/GlobalOffensive/" target="_blank"><img class="reddit-info-logo bottom-reddit-logo" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500259770/reddit-logo-unedited_kms8py.png"/></a>
				  	</div>	
				  </div>
			</div>
	</div>
	<div class="col-md-7">
		<div class="info-mission-container">
			<div class="twitch-live-player-info-container">
				<div class="twitch-live-player-info-container-inner">
					<div class="twitch-live-player-info-container-inner-inner-top">
						<h4 class="featured-streamer-name">Featured Streamer: Topher</h4>
						<a href="https://www.twitch.tv/trollpatrul" target="_blank"><button class="btn btn-info featured-streamer-follow">Follow on Twitch</button></a>
					</div>
					<div class="twitch-live-player-info-container-inner-inner-middle">
						<h4>Member Status: Admin</h4>
					</div>
					<div class="twitch-live-player-info-container-inner-inner-bottom">
						<h4>Favorite Games to Stream: Fortnite, League Of Legends, Counter Strike: GO</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="col-md-3 text-center">		

			<div class="dropdown">
			  <button class="dropbtn">Troll Patrul FAQ</button>
			  <div class="dropdown-content">
			    <h4 class="faq-title text-center">What is Troll Patrul</h4>
			    <p class="faq-font">Troll Patrul is a gaming community with a goal of bring gamers together and host online events.
				As a group we will decide which events are to be hosted and for which games. Details on Troll Patrul 
				events can be found on our events page of this website. We want to create an enviornment that adds
				value to your current favorite game by sharing your victories and defeats with our community.</p>
				<br />
			    <h4 class="faq-title text-center">What games do we play?</h4>
			    <p class="faq-font">Currently we have four groups running in Troll Patrul: Fortnite, League of Legends, Counter Strike: GO, 7 Days to Die. 
				We will be looking to you to help us identify the next game for the Troll Patrul to join.</p>
				<br />
			    <h4 class="faq-title text-center">What is Discord?</h4>
			    <p class="faq-font">Discord is a VOIP (Voice Over Internet Protocol) or simply, a voice chat program that allows anyone to freely join
				up with friends and chat in coice chatrooms with microphones and also use text chat rooms to have lengthier discussions
				on specific topics.</p>
				<br />
			    <h4 class="faq-title text-center">How to help?</h4>
			    <p class="faq-font">This community runs on two things, hard work and good people. Shoot any of the admnits a message in discord or email us at 
				trollpatrul@gmail.com and let us know that you are interested in helping our community grow.</p>			
			  </div>
			</div>		
		</div>

</div>
