<div class="row">
	<div class="col">
		<div class="login-form-container text-center">

			<h2 class="page-header title-login">Account Login</h2>
			<form method="post" action="/users/login">

			<div class="input-and-label">
			  <div class="form-group">
			    <label>Username</label>
			    <input type="text" class="form-control" name="username" placeholder="Username">
			  </div>
			  <div class="form-group">
			    <label>Password</label>
			    <input type="password" class="form-control" name="password" placeholder="Password">
			  </div>
			 </div>

			  <button type="submit" class="btn btn-default button-marg">Submit</button>
			</form>
			
		</div>
	</div>
</div>