<div class="row">
  <div class="col">
    <div class="login-form-container text-center">

      <h2 class="page-header title-login">Register</h2>
      {{#if errors}}
            {{#each errors}}
              <div class="alert alert-danger">{{msg}}</div>
            {{/each}}
      {{/if}}
      <form method="post" action="/users/register">
        <div class="input-and-label">
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
             <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="form-group">
              <label>Twitch User Name</label>
              <input type="text" class="form-control" placeholder="Your twitch username can be found in your twitch profile settings" name="twitchChannelName">
            </div>

            <div class="avatar-container text-center">
              <label>Pick an avater</label>
              <br />
              <!--  CS avatar -->
              <img class="avatar-image-register csgo-avatar" data-selected="no" data-value="csgo" data-url="https://res.cloudinary.com/ddsihrmda/image/upload/v1500418448/csgo-avatar_t8pzdh.jpg" width="100px" height="100px" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500418448/csgo-avatar_t8pzdh.jpg" width="100px" height="100px"/>
              <!--  7 Days avatar -->
              <img class="avatar-image-register 7days-avatar" data-selected="no" data-value="7days" data-url="https://res.cloudinary.com/ddsihrmda/image/upload/v1500418448/seven-days-avatar_jnjank.jpg" width="125px" height="100px" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500418448/seven-days-avatar_jnjank.jpg" width="125px" height="100px"/>
              <!--  Fortnite avatar -->
              <img class="avatar-image-register fortnite-avatar" data-selected="no" data-value="fortnite" data-url="https://res.cloudinary.com/ddsihrmda/image/upload/v1500418448/fortniteavatar_yqjdjy.png" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500418448/fortniteavatar_yqjdjy.png" width="100px" height="100px"/>
              <!--  League avatar -->
              <img class="avatar-image-register league-avatar" data-selected="no" data-url="https://res.cloudinary.com/ddsihrmda/image/upload/v1500418447/league-avatar_zwdvzv.jpg" data-value="league" src="https://res.cloudinary.com/ddsihrmda/image/upload/v1500418447/league-avatar_zwdvzv.jpg" width="100px" height="100px"/>

              <button class="btn btn-default button-marg avatar-select-button">Select This Avatar</button><br/>
              <span>Avatar Saved!</span>
            </div>

            <div class="form-group under-avatar">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" placeholder="Password" name="password2">
            </div>
        </div>
        <button type="submit" class="btn btn-default button-marg">Submit</button>
      </form>

    </div>
  </div>
</div>