<div class="row">
	<div class="col userdash-outermost-container">
		<div class="row text-center col-md-offset-1">
				<div class="welcome-div">
					<h2 class="text-color-userdash">Welcome back, {{user.username}}!</h2>
				</div>

		</div>
		<div class="row">
			<div class="col-md-7 col-md-offset-1">
				<div class="upper-left-dashboard-container">
					<div class="dashboard-news-container">
						<div class="dashboard-news-inner-container">
							<h2 class="text-color-userdash"><a href="https://www.reddit.com/r/FORTnITE/comments/6sweoe/what_happened_to_minillama_voice/">What happened to Mini-Llama Voice?</a></h2>
							<p text-color="grey">Link via reddit:</p>
							<p>No more Teeny-treasures???</p>


							
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center">
				<div class="userinfo-container">
					<div class="upper-right-dashboard-container">
						<div class="dashboard-image-container">
							<img class="user-avatar-image" src={{user.userAvatar}} height="150" width="150" />
						</div>
						<div class="dashboard-member-info-container">
							<h3 class="text-color-userdash">Member since: {{user.date}}</h3>
							<h3 class="text-color-userdash">Member status: {{user.memberStatus}}</h3>
						</div>
					</div>
					<br />
					<br />
					<br />
					<div class="lower-dashboard-container text-center">

						<div>
							<h3 class="text-color-userdash">Main Landing page Stream status:</h3>
							<br/>
							<div class="userdash-avail-symbol text-color-userdash">Availible</div>
						</div>

						<button type="button" class="btn btn-default text-color-userdash"><a href="#">Become a live streamer!</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>