<div class="row">
	<div class="col userdash-outermost-container">
		<div class="row text-center col-md-offset-1">
				<div class="welcome-div">
					<h2 class="text-color-userdash">Welcome back, {{user.username}}!</h2>
				</div>

		</div>
		<div class="row">
			<div class="col-md-7 col-md-offset-1">
				<div class="upper-left-dashboard-container">
					<div class="dashboard-news-container">
						<div class="dashboard-news-inner-container">
							<h2 class="text-color-userdash">Troll Patrol News</h2>
							<br />

							<h3 class="text-color-userdash">24 HOURS LIVE STREAM!</h3>
							<p class="text-color-userdash">To Celebrate Fortnite's release we are going to be gaming and streaming for 24 hours starting at 7:00am on 7/21/2017!! Join us for all the shenanigans, memes and of course the dankest loot you've ever seen.</p>

							<br />
							<hr/>
							<br />

							<h3 class="text-color-userdash">Troll Patrul</h3>
							<p class="text-color-userdash">Hey guys. My name is Topher and I'm representing Troll Patrul. TP isn't just a YouTube channel or a stream focused on Fortnite. TrollPatrul is a community of people who love to play video games. Fortnite is just one of the many games that we will be playing together in the coming months and years. I know a lot of you will be playing Fortnite yourselves, so you probably won't just want to sit around and watch a stream, so join us in our crazy antics. To celebrate the launch of Fortnite Early Access, we will be hosting a 24 hr live stream on our twitch channel.  We have a discord, twitch, and YouTube, and now, this website. Thanks for reading and I hope to join you in fighting off the storm!</p>

							<br />
							<hr/>
							<br />

							<h3 class="text-color-userdash">Fortnite Release Streaming extravaganza</h3>
							<p class="text-color-userdash">With the release of Fortnite this week, we here at TrollPatrul can think of nothing else except.  With Fortnite being a hybrid between building, survival, and shooting, there is a heavy RPG aspect that can be seen all throughout the game.  While RPGs are known for forcing you to make a ton of decisions, one of the biggest and earliest decisions you have to make is what class you will play through the game as.  Today, we will be taking a look at the class system in Fortnite, and what additions might be made in the future.

							Before we speculate about what is coming, an overview of what is currently in the game is needed.  Right now, there are four classes found in Fortnite with both genders available for each; the Soldier, the Ninja, the Constructor, and the Outlander.  The Soldier specializes in straight damage, with skills and perks that help optimize DPS.  The Ninja is a melee specialist who is the fastest of the four classes, and specializes in getting in the fight, killing key targets, then getting out.  The Constructor specializes in-you guessed it- building.  With a deployable machine that shields walls, shocks zombies, and collects resources, he is a must have on your squad.  The Outlander is equipped to efficiently loot and harvest materials that are critical to the survival of your squad.

							Epic has confirmed that they are interested in adding more classes into Fortnite, so here are a few ideas that we think would be cool additions in the game: the Demolitionist, the Mechanic, and the Medic.</p>

							<h3 class="text-color-userdash">The Demolitionist</h3>
							<p class="text-color-userdash">The Demolitionist is a hero who specializes in AoE damage, mostly by use of explosives.  He sports an arsenal of traps that require more space to be placed, such as a 2x2 C4 trap, or a 5x5 inferno trap designed to clear out weaker husks.  His abilities include a portable mortar for raining fiery hell onto choke points, a scattershot grenade launcher, and a suicide drone that seeks out the highest priority husk on the field.</p>

							<h3 class="text-color-userdash">The Mechanic</h3>
							<p class="text-color-userdash">The Mechanic fits a very unique niche within Fortnite.  They specialize in making your base as functional as possible.  To do this, their kit is chock full of utility.  Teleporters, conveyor belts, and remote activation devices are only a small part of what this hero brings to the game.  While being the slowest of all the heroes, the Mechanic can summon a bike to ride around the map to get to target locations.  Want a drawbridge to access your base without violating the integrity of your objective?  The Mechanic is the hero for you.</p>

							<h3 class="text-color-userdash">The Medic</h3>
							<p class="text-color-userdash">Being possibly the biggest hole in the Fortnite launch, the Medic is a key class in RPGs that is missing in Fortnite.  The Medic is rocking a variety of healing and buffing abilities, including an aura of healing over time, a healing grenade, and a deployable drone that can seek and resurrect your fallen squadmates.  If your team is taking too much damage during missions, or you are feeling a little altruistic, the Medic is the hero for you.

							What do you think about our idea for new heroes?  Join us during our 24 hour Fortnite stream on July 21, at 10 A.M. EST at www.twitch.tv/trollpatrul and let us know what you think!

							What do you think about our idea for new heroes?  Join us during our 24 hour Fortnite stream on July 21, at 10 A.M. EST at www.twitch.tv/trollpatrul and let us know what you think!
							<br/>

							-Sombra
</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center">
				<div class="userinfo-container">
					<div class="upper-right-dashboard-container">
						<div class="dashboard-image-container">
							<img class="user-avatar-image" src={{user.userAvatar}} height="150" width="150" />
						</div>
						<div class="dashboard-member-info-container">
							<h3 class="text-color-userdash">Member since: {{user.date}}</h3>
							<h3 class="text-color-userdash">Member status: {{user.memberStatus}}</h3>
						</div>
					</div>
					<br />
					<br />
					<br />
					<div class="lower-dashboard-container text-center">

						<div>
							<h3 class="text-color-userdash">Main Landing page Stream status:</h3>
							<br/>
							<div class="userdash-avail-symbol text-color-userdash">Availible</div>
						</div>

						<button type="button" class="btn btn-default text-color-userdash"><a href="#">Become a live streamer!</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>