/* Space out content a bit */
body {
  padding-bottom: 20px;
  background-color: #27282e;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:0;
}

footer{
  margin-top:40px;
}

/* Custom CSS */

/* Navbar */

.navbar{
  background-color:#161618;
  min-height: 80px;
}

/* Navbar End */

/* Twitch Chat End */
.live-iframe-chat{

}
/* Chat Box End */

.live-iframe-player{
  width: 100%;
  height: 100%;
}

.twitch-live-player-container-container{
  height: 600px;
}

/* Logo in top left of main screen */
.outernav-container{
  height: 80px;
}

.tplogo{
  min-height: 80%;
  width: auto;
}

.navbar-header{
  margin-left: 6.5% !important;
  min-height: 80px;
  width: auto;
}

.navbar-brand{
  padding: 0px !important;
}

/* Logo in top left of main screen END */

/* Navbar Buttons Top right of screen */
.navbar-right{
  margin-right: 5%;
}

.navbar-nav{
  min-height: 100%;
}

.nav-button{
  min-height: 100%;

}

.nav-button-link{
  height: 80px;
  display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

/* Navbar Buttons Top right of screen */

.twitch-userinfo-div{
  min-height: 350px;
}

.faq-div{
  min-height: 350px;
}

.twitch-live-player-container{
  width: 100%;
  height: 100%;
}

.twitch-live-player-info-container{
 

}

.streamer-name-header{
  margin: 0px auto;
}


.twitch-live-chat-container{
  max-height: 567px !important;
}

.icons{
  float:right !important;
}

/* *******************************  */
/* Upper Social Container           */
/* *******************************  */
.headding{
  background-color: #6441a4 !important;
}

.panel-headers{
  font-size: 20px;
  color: white;
}



.social-media-container-1{
  height: 453px;
  border: black;
}
.panel-body{
  min-height: 100%;
}
.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
/* DIVS */
.discord-social-written-div{
  min-height: 25%;
}

.youtube-social-written-div{
  min-height: 25%;
}

.facebook-social-written-div{
  min-height: 25%;
  margin-bottom: 8%;
  margin-top: 4%;
}

.twitter-social-written-div{
  min-height: 25%;
  margin-bottom: 18%;
  margin-top: 2%;
}

/* IMAGES */
.discord-social-written{
  width:80%;/* you can use % */
  height: auto;  
}

.youtube-social-written{
  width:60%;/* you can use % */
  height: auto;
}

.facebook-logo-small{
  width:20%;/* you can use % */
  height: auto;
}

.facebook-social-written{
  width:60%;/* you can use % */
  height: auto;  
}

.twitter-logo-small{
  width:20%;/* you can use % */
  height: auto;  
}

.twitter-social-written{
  width:60%;/* you can use % */
  height: auto;
}
/* *******************************  */
/* Upper Social Container End       */
/* *******************************  */

/* *******************************  */
/* Middle Left Donation Box         */
/* *******************************  */

.panel-div{
  margin-top: 5%;
  margin-bottom: 0px;
}

.panel-top{

}

.panel-main{

}

.updgrade-panel{
  max-height: 120px;
}

.upgrade-container{
  vertical-align:middle;
}

.updgrade-container-inner-left{
  width: 50%;
  display: inline-block;
  margin-left: 5px;
  vertical-align:middle;
}

.updgrade-container-inner-middle{
  display: inline-block;
  vertical-align:middle;
  font-size: .75em
}

.updgrade-container-inner-middle{
  display: inline-block;
  vertical-align:middle;
}

.upgrade-panel{
  padding: 0px;
}
.upgrade-disc-text{
  margin: 0px;
  font-size: .75em
}
.updgrade-title{
  
}

.upgrade-img{
  height: 65px;
}

/* *******************************  */
/* Middle Left Donation Box End     */
/* *******************************  */

/* *******************************  */
/* Lower Game Info Container        */
/* *******************************  */

.social-media-container-2{
  height: 453px;
  border: black;
}
/* DIVS */
.fortnite-game-info-div{
  min-height: 30%;
}

.league-game-info-div{
  min-height: 30%;
}

.csgo-social-written-div{
  min-height: 30%;
}
/* DIVS END */
/* IMAGES */
.fortnite-game-info-logo{
  width:50%;/* you can use % */
  height: auto;  
}
.league-game-info-logo{
  width:50%;/* you can use % */
  height: auto;  
}
.csgo-social-written-logo{
  width:50%;/* you can use % */
  height: auto;
  margin-bottom: 15%; 
}
.reddit-info-logo{
  width:15%;/* you can use % */
  height: auto;
  margin-left: 15%;
}
.bottom-reddit-logo{
  margin-bottom: 15%;
}
/* IMAGES END */

/* *******************************  */
/* Lower Game Info Container End    */
/* *******************************  */

/* *************************************  */
/* Streamer Info and Mission Statement    */
/* *************************************  */
.info-mission-container{
  width: 100%;
  margin: auto;
  background-color: #f5f5f5; /* For browsers that do not support gradients */
  border: solid 2px #161618;

  background: -webkit-linear-gradient(-90deg, #374356, #6a7b96); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #374356, #6a7b96); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #374356, #6a7b96); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #374356, #6a7b96); /* Standard syntax */
}
.twitch-live-player-info-container{
  display: inline-block;
  float: left;
  width: 50%;
}

.twitch-live-player-info-container-inner{
  padding: 30px;
  margin-left: 15%;
  /*margin-bottom: 5%;*/
  margin-top: 10%;
  border-radius: 5px;
  border: 1px solid #374356;
  background: #6a7b96;
  border-radius: 10px;
}

.twitch-live-player-info-container-inner{
  margin-left: 15%;
}

.troll-patrol-mission-container{
  display: inline-block;
  float: right;
  width: 30%;
}

.troll-patrol-mission-container-inner{
  margin-right: 10%;
  margin-right: 15%;
  /*margin-bottom: 10%;*/
  margin-top: 16%;
  border: 1px solid #374356;
  background: #6a7b96;
  border-radius: 10px;
}

.post-title-line{
  background-color: black;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, #ffffff, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, #ffffff, rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, #ffffff, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, #ffffff, rgba(0, 0, 0, 0));
  width: 100%;
  height: 1px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mission-text{
  color:black;
  margin-left: 5%;
  margin-right: 5%;
}

.featured-streamer-name{
  display: inline-block;
}

.featured-streamer-follow{
  display: inline-block;
  float: right;
  margin-right: 3%;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* *************************************     */
/* Streamer Info and Mission Statement End   */
/* *************************************     */

/* **********************  */
/* Drop Down FAQ section   */
/* **********************  */

  .dropbtn {
    background-color: #6441a4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 7%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    max-height: 420px;
    overflow-y: auto;

    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.info-mission-container:after {
    content: "";
    display: table;
    clear: both;
    min-height: 100px;
  }

.faq-font{
  font-size: 1em;
}

.faq-title{
}


/* **********************      */
/* Drop Down FAQ section End   */
/* **********************      */

/* ********************** */
/* ********************** */
/* ********************** */

/* **********************      */
/* Login Page CSS              */
/* **********************      */

.login-form-container{
  width: 30%;
  margin: 0px auto;
  height: 100%;
  margin-bottom: 200px;
  border: 1px solid black;
  background-color: #96a6b7;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #96a6b7;
  padding-bottom: 2.5%
}

.input-and-label{
  max-width: 80%;
  margin: auto;
}

.title-login{
  margin-top: 20px;
}

.button-marg{
  margin-top: 22px;
}

.avatar-select-button{
  margin: auto;
  margin-top: 15px;
}
/* **********************      */
/* Login Page CSS End          */
/* **********************      */

/* ********************** */
/* ********************** */
/* ********************** */

/* ********************** */
/* ********************** */
/* ********************** */

/* **********************      */
/* Register Page CSS           */
/* **********************      */

.login-form-container{
  width: 30%;
  margin: 0px auto;
  height: 100%;
  margin-bottom: 200px;
  border: 1px solid black;
  background-color: #96a6b7;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #96a6b7;
}

.input-and-label{
  max-width: 80%;
  margin: auto;
}

.title-login{
  margin-top: 20px;
}

.avatar-image-register{
  border: 1px solid black;
}

.under-avatar{
  margin-top: 25px;
}





/* **********************      */
/* Register Page CSS End       */
/* **********************      */

/* ********************** */
/* ********************** */
/* ********************** */

/* ********************** */
/* ********************** */
/* ********************** */

/* **********************      */
/* userDash Page CSS           */
/* **********************      */

.text-color-userdash{
  color:#e3ecf9;
}

/* Welcome user graphic */



.welcome-div{
  width: 25%;
  margin-left: 8%;
  background-color:grey;
  border-radius: 1em;
  height: auto;
  padding: 10px;
  line-height: 0;
  background-image: url('https://res.cloudinary.com/ddsihrmda/image/upload/v1500408202/backgroundunedited_mkplw0.jpg');
  background-size:cover ; /* Adjust the scale of your border image */
  margin-top: 2.5%;
}

/* right container with user info and avatar */

.userinfo-container{
  border: 1px solid black;
  padding-top: 40px;
  padding-bottom: 60px;
  border-radius: 20px;
  background-color: #27282e;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 15%
}

/* User Avatar graphic border */

.dashboard-image-container{
  border-radius: 6em;
  width: 75%;
  height: auto;
  margin: auto;
  padding: 10px;
  line-height: 0;
  background-image: url('https://res.cloudinary.com/ddsihrmda/image/upload/v1500409910/backgroundredblue_h9anb5.jpg');
  background-size: 100%; /* Adjust the scale of your border image */
}

.avatar-container{
  margin-top: 10px;
}
.user-avatar-image{
  border-radius: 6em;
  height: 100%;
  width: 100%;  
  margin: 0;
}

.dashboard-news-container{
  width: 85%;
  border: 1px solid black;
  background-color: #27282e;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 20px;

}

.userdash-outermost-container{
  border: 1px solid black;
  background-image: url('https://res.cloudinary.com/ddsihrmda/image/upload/v1500408202/backgroundunedited_mkplw0.jpg');
  background-size: cover; /* Adjust the scale of your border image */
}

.dashboard-news-inner-container{
  margin: 3%;
  overflow-y: auto;
  max-height: 360px;
}

/* **********************      */
/* userDash Page CSS End       */
/* **********************      */

/* ********************** */
/* ********************** */
/* ********************** */